<div class="center">
    <a href="/">Inicio</a>
    <a href="/lctos-vendas">Lançamentos Vendas</a>
    <a href="/lctos-devolucao">Lançamentos Devoluções</a>
    <a href="/upload_extrato">Upload Extrato</a>
    <a href="/woo/woo">PDF Pedidos</a>
    <a href="/split/split">PDF Notas</a>
    <a href="/movimento">Movimento</a>
    <a href="/folder_public">Pasta Public</a>
    <a href="/config">Config</a>
</div>